.about {
  background-color: #272626; /* Change to your desired color */
  padding: 20px; /* Optional: Add some padding */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
}

.heading-name {
  color: white;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  font-size: 50px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 00px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading-position {
  color: rgb(199, 221, 221);
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  font-size: 20px;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  margin-top: 40px;
}

/* Container untuk link agar berdampingan */
.link-container {
  display: flex;
  justify-content: center; /* Agar link berada di tengah secara horizontal */
  gap: 10px; /* Jarak antara kedua link */
  margin-top: 30px; /* Tambahan jarak atas */
}

/* CSS untuk link-pdf */
.link-pdf {
  background-color: transparent;
  border: 2px solid red;
  color: red;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* CSS saat link-pdf di-hover */
.link-pdf:hover {
  background-color: red;
  color: white;
}

/* CSS untuk link-telegram */
.link-telegram {
  display: inline-flex; /* Gunakan flexbox untuk elemen inline */
  align-items: center; /* Center secara vertikal */
  background-color: #007bff;
  border: 2px solid  rgb(176, 120, 250);
  color:  #ffffff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* CSS saat link-telegram di-hover */
.link-telegram:hover {
  background-color: rgb(176, 120, 250);
  color: rgb(255, 255, 255);
}
