.header {
  display: flex;
  justify-content: space-between; /* Membuat jarak maksimal antara elemen */
  align-items: center; /* Memastikan vertikal rata tengah */
  padding: 0 40px; /* Beri padding agar tidak terlalu mepet */
  margin-top: 20px;
}

.heading-name{
  display: flex;
  justify-content: space-between;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  padding-left: 80px; /* Beri padding agar tidak terlalu mepet */

}

.icon-right {
  margin-left: auto; /* Mendorong ikon ke kanan */
}

/* RESPONSIVE UNTUK SMARTPHONE */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Susun elemen ke bawah */
    text-align: center;
    padding: 0px;
  }

  .heading-name {
    font-size: 24px; /* Kecilkan font */
    display: none; /* Sembunyikan teks saat layar kecil */
  }
}