/* Container untuk ikon */
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center secara vertikal */
  justify-content: center; /* Center secara horizontal */
  padding: 50px;

}

/* Styling umum untuk ikon */
.icon {
  text-decoration: none; /* Menghapus underline */
  transition: transform 0.3s ease-in-out; /* Animasi smooth saat hover */
  color: white; /* Warna ikon putih */
}

/* Styling khusus untuk ikon GitHub */
.github-icon a {
  display: inline-block; /* Menyusun ikon dalam blok */
  border: 2px solid #333; /* Border gelap di sekitar ikon */
  border-radius: 50%; /* Membuat border melingkar mengikuti bentuk ikon */
  padding: 8px; /* Ruang di sekitar ikon */
  transition: border 0.3s ease-in-out; /* Efek transisi border */
}

/* Hover effect untuk GitHub */
.github-icon a:hover {
  border-color: #0077b5; /* Mengubah warna border saat hover */
}

/* Hover effect untuk semua ikon */
.icon:hover {
  transform: scale(1.5); /* Efek zoom pada ikon saat hover */
}

.heading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Ukuran font default */
  margin-bottom: 20px;
  color: aliceblue;
  text-align: center; /* Memastikan teks berada di tengah */
  white-space: normal; /* Memungkinkan teks membungkus ke baris berikutnya */
  word-wrap: break-word; /* Memaksa pembungkusan kata jika perlu */
}

/* Media query untuk perangkat dengan lebar maksimal 600px (smartphone) */
@media (max-width: 600px) {
 .icon-container {
    gap: 5px; /* Memberikan jarak antar heading dan ikon */
  }

  .heading-icon {
    font-size: 15px; /* Ukuran font tidak terlalu kecil */
    margin-bottom: 20px;
  }
}

/* Media query untuk perangkat dengan lebar maksimal 400px (layar kecil seperti ponsel) */
@media (max-width: 400px) {
  .heading-icon {
    font-size: 15px; /* Ukuran font masih tetap terlihat */
    margin-bottom: 20px;
  }
}


/* Container untuk ikon-ikon dengan jarak antar ikon */
.icon-links-container {
  display: flex;
  gap: 15px; /* Jarak antar ikon */
  justify-content: center; /* Membuat ikon-ikon berbaris di tengah */
  align-items: center; /* Memastikan ikon-ikon tetap terpusat vertikal */
}
