.custom-heading {
  font-family: "Poppins", sans-serif; /* Gunakan font modern */
  font-size: 1.8rem; /* Sesuaikan ukuran */
  font-weight: bold;
  color: #000000; /* Warna menarik */
  text-transform: uppercase; /* Huruf besar semua */
  letter-spacing: 1.5px; /* Spasi antar huruf */
}

.work-title {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.work-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(209, 154, 154);
  position: absolute;
  bottom: 0;
  left: 0;
}
